/*
Theme Name: Timberland Landscape
Theme URI: http://www.timberland-landscape.com/
Description: This is a custom child theme developed for Timberland Landscape
Author: Element5
Author URI: https://element5digital.com/
Template: twentysixteen
Version: 0.1
*/

@charset "utf-8";
/*--------------------------------------------------------------------------FONTS--*/
@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,300,800,800italic);

/*---------------------------------------------------------------------ANIMATIONS--*/
/*-------------------------------------------------------------------------BASICS--*/
html,
body {
	margin: 0 !important;
	padding: 0 !important;
	background: #fff;
}

body:before,
body:after {
	display: none !important;
}

section {
	position: relative;
}

* {
	box-sizing: border-box;
	transition: all .25s ease-in-out 0s;
	-webkit-transition: all .25s ease-in-out 0s;
}

/*-----------------------------HEADINGS--*/
h1,
h2,
h3,
h4,
.widget h1,
.widget h2,
.widget h3,
.widget h4 {
	color: #000;
	font-family: 'Anton', sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.1;
}

h1,
.widget h1 {
	font-size: 45px;
}

h2,
.widget h2 {
	color: #d01524;
	font-size: 25px;
	margin: 20px 0;
}

h3,
.widget h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 300;
	margin: 12px 0;
	text-transform: capitalize;
}

h4,
.widget h4 {
	font-size: 18px;
}

/*----------------------TEXT FORMATTING--*/
p,
a,
ol,
ul {
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400 !important;
	line-height: 1.38;
	margin: 0 0 8px 0;
	padding: 0;
	word-wrap: break-word;
}

p {
	margin-bottom: 12px;
	line-height: 1.5;
}

ul li {
	background-image: url(/wp-content/themes/timberland/img/bullet-point.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 10px auto;
	list-style: none;
	margin: 0 0 5px 0;
	padding: 0 0 0 25px;
}

hr {
	background: #000;
	height: 1px;
	margin-bottom: 15px;
	width: 100%;
}

mark {
	background-color: yellow;
}

/* HIGHLIGHTED */
blockquote,
q {
	quotes: none;
	background: #fafafa;
	border: none;
	padding: 15px 25px;
}

blockquote p,
q p {
	font-size: 18px;
}

#legal-text {
	font-size: 10px;
	color: #a8a8a8;
}

/* SMALL LEGAL TEXT */
.primary-button {
	/* Button Short Codes */
	background: #d01524;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	min-height: 40px;
	padding: 15px 60px 15px 15px;
	position: relative;
	text-transform: uppercase;
}

.primary-button:hover {
	background: #d01524;
	color: #fff;
	padding-left: 20px;
	text-decoration: none;
}

.primary-button .primary-arrow {
	background-color: #bf0b1a;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
}

.primary-button .primary-arrow img {
	margin-left: 10px;
	margin-top: 12px;
	width: 30px;
}

.primary-button:hover .primary-arrow img {
	margin-left: 15px;
}

.secondary-button {
	/* Button Short Codes */
	background: transparent;
	border: 1px solid #d01524;
	box-shadow: none !important;
	color: #d01524;
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	min-height: 40px;
	padding: 10px 60px 10px 15px;
	position: relative;
	text-transform: uppercase;
}

.secondary-button:hover {
	color: #d01524;
	text-decoration: none;
}

.secondary-button .secondary-arrow {
	background: rgba(0, 0, 0, .2);
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}

.secondary-button .secondary-arrow img {
	margin-left: 5px;
	margin-top: 7px;
	width: 30px;
}

.secondary-button:hover .secondary-arrow img {
	margin-left: 10px;
}

a {
	margin: 0;
	color: ;
}

a:hover {
	text-decoration: underline;
}

/*--------------------RESPONSIVE SIZING--*/
.full-width {
	width: 100%;
}

.max-width {
	max-width: 1200px;
	margin: 0 auto;
}

.one-half {
	width: 50%;
	float: left;
}

.one-third {
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	width: -webkit-calc(33.33% - 30px);
	width: calc(33.33% - 30px);
}

.two-third {
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	width: -webkit-calc(66.66% - 30px);
	width: calc(66.66% - 30px);
}

.one-fourth {
	width: 25%;
	float: left;
}

.three-fourth {
	width: 75%;
	float: left;
}

.two-fifth {
	width: 40%;
	float: left;
}

.three-fifth {
	width: 60%;
	float: left;
}

/*---------------------------------------------------------------------NAVIGATION--*/
/*-------------------------------TOP NAV--*/
#top-nav {
	background: rgba(0, 0, 0, .8);
	height: 35px;
	position: fixed;
	z-index: 100;
}

#top-nav-widgets {
	float: right;
}

#top-nav-widgets .widget {
	float: left;
	margin: 0;
	padding: 0;
}

#top-nav-widgets .menu {
	margin: 3px 0 0 0;
}

#top-nav-widgets .menu li {
	list-style: none;
	background-image: none;
	float: left;
	margin: 0 10px;
	padding: 0;
	text-align: center;
}

#top-nav-widgets a {
	color: #fff;
	line-height: 28px;
	text-decoration: none;
}

#top-nav-widgets a:hover {
	text-decoration: underline;
}

#top-nav-widgets .widget_search {
	margin-right: -18px;
}

#top-nav-widgets .widget_search input {
	height: 35px;
	background: #4d4d4d;
	border: none;
	color: #fff;
	margin-left: 18px;
	padding: 2px 0 0 5px;
}

#top-nav-widgets .widget_search input::-webkit-input-placeholder {
	color: #fff;
}

#top-nav-widgets .widget_search input:placeholder-shown {
	color: #fff;
}

#top-nav-widgets .widget_search button.search-submit {
	background: transparent;
	right: 20px;
	width: 35px;
}

#top-nav-widgets .widget_search .search-submit:before {
	line-height: 35px;
	left: auto;
	right: 5px;
	width: 35px;
}

#top-nav-widgets .widget_simpleimage {
	width: 35px;
	height: 35px;
	margin: 0;
	padding: 10px;
}

#top-nav-widgets .widget_simpleimage#simpleimage-2 {
	background: #3b5998;
}

#top-nav-widgets .widget_simpleimage#simpleimage-3 {
	background: #00aced;
}

#top-nav-widgets .widget_simpleimage#simpleimage-4 {
	background: #007bb6;
}

#top-nav-widgets .widget_simpleimage p {
	height: 100%;
	position: relative;
	width: 100%;
}

#top-nav-widgets .widget_simpleimage img {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/*------------------------------MAIN NAV--*/
header#main-nav {
	background: #305b81;
	padding: 15px 0 0 0;
	position: fixed;
	top: 35px;
	width: 100%;
	z-index: 100;
}

header#main-nav #main-logo {
	float: left;
	margin: 0 0 0 35px;
}

header#main-nav #main-logo img {
	width: 200px;
}

header#main-nav nav {
	margin: 0 auto;
	padding-top: 5px;
	width: 777px;
}

header#main-nav #mega-menu-wrap-main-menu {
	clear: none;
}

header#main-nav #mega-menu-wrap-main-menu a {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 600 !important;
	text-transform: uppercase !important;
	height: auto !important;
	letter-spacing: 2px !important;
	line-height: 20px !important;
	padding: 5px 40px 18px 40px !important;
	text-align: center !important;
	top: auto !important;
}

#mega-menu-wrap-main-menu #mega-menu-main-menu>li.mega-menu-item>a.mega-menu-link {
	cursor: default;
}

#mega-menu-wrap-main-menu #mega-menu-main-menu>li.mega-menu-megamenu.mega-menu-item {
	position: relative;
}

#mega-menu-wrap-main-menu #mega-menu-main-menu>li.mega-menu-megamenu.mega-menu-item:hover:after {
	border-color: #FFFFFF transparent !important;
	border-style: solid !important;
	border-width: 0 20px 15px !important;
	content: '' !important;
	display: block !important;
	left: 50% !important;
	margin-left: -20px !important;
	position: absolute !important;
	top: 85% !important;
	width: 0 !important;
	z-index: 1 !important;
}

header#main-nav .mega-sub-menu {
	background: #fff !important;
	left: 0 !important;
	margin-top: -3px !important;
	position: fixed !important;
	text-align: center !important;
	width: 100% !important;
}

header#main-nav #mega-menu-wrap-main-menu .mega-sub-menu a {
	padding: 5px !important;
}

#mega-menu-wrap-main-menu #mega-menu-main-menu>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item {
	display: inline-block !important;
	float: none !important;
	max-width: 300px !important;
	padding: 25px 10px !important;
}

header#main-nav .mega-sub-menu .menu li {
	border: 1px solid #000 !important;
	margin: 0 0 15px 0 !important;
	padding: 5px 0px !important;
}

header#main-nav .mega-sub-menu .menu li:hover {
	background: #d01524 !important;
	border-color: #d01524 !important;
}

header#main-nav .mega-sub-menu .menu li:hover a {
	color: #fff !important;
}

header#main-nav .mega-sub-menu .menu a {
	color: #000 !important;
	font-family: 'Open Sans', sans-serif !important;
	text-align: center !important;
}

header#main-nav #mega-menu-wrap-main-menu #mega-menu-main-menu .widget_text .textwidget {
	height: 100%;
}

header#main-nav #mega-menu-wrap-main-menu #mega-menu-main-menu .textwidget {
	border-left: 1px solid #000;
	height: 100%;
	padding-left: 25px;
}

header#main-nav nav ul {
	float: right;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

header#main-nav nav li:first-child {
	padding: 0;
}

header#main-nav nav li {
	float: left;
	margin: 0;
}

header#main-nav nav a,
a#phone-link {
	background-color: transparent;
	color: #fff;
	display: block;
	padding: 5px 10px;
}

a#phone-link {
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 20px;
	float: right;
	font-size: 16px;
	background-image: url(/wp-content/themes/timberland/img/icon-phone.svg);
	margin-right: 35px;
	margin-top: -55px;
	padding: 3px 10px 7px 35px;
}

header#main-nav nav a:hover,
a#phone-link {
	background-color: transparent;
	text-decoration: none;
}

.menu-ad {
	width: 100% !important;
	background: #d01524 !important;
	min-height: 155px !important;
	padding: 10px 10px 0 10px !important;
	color: #fff !important;
	text-transform: uppercase !important;
	font-size: 25px !important;
	font-family: 'Open Sans', sans-serif !important;
	line-height: 1.1 !important;
	letter-spacing: 1px !important;
}

header#main-nav #mega-menu-wrap-main-menu a#mega-link {
	position: absolute !important;
	width: 100% !important;
	left: 0px !important;
	bottom: 0 !important;
	background-color: #292929 !important;
	color: #fff !important;
	text-align: left !important;
	padding-left: 10px !important;
	background-image: url(../timberland/img/icon-arrow-right.svg);
	background-position: center right 10px;
	background-repeat: no-repeat;
	background-size: 18px;
}

/*---------------------------STICKY NAV--*/
#sticky-nav {
	background: #fff;
	height: 50px;
	position: fixed;
	-webkit-transition: opacity 1s ease-in-out 0s;
	display: block;
	opacity: 0;
	top: 0;
	transition: opacity 1s ease-in-out 0s;
	z-index: -1;
}

#sticky-nav nav ul {
	padding: 0;
	height: 50px;
}

#sticky-nav nav li {
	height: 100%;
}

/*---------------------------MOBILE NAV--*/
#mobile-nav {
	display: none;
	height: 75px;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	background: #305b81;
	margin-top: 35px;
	z-index: 100;
}

#mobile-nav .full-width {
	text-align: center;
}

#mobile-nav a#phone-link {
	float: left;
	background-color: #1e4465;
	background-position: center center;
	background-size: 35px;
	height: 75px;
	margin: 0;
	padding: 0;
	width: 75px;
}

#mobile-nav a#phone-link img {
	display: none;
}

#mobile-nav img {
	margin-top: 10px;
}

#mobile-nav #menu-icon {
	background-color: #1e4465;
	background-image: url(/wp-content/themes/timberland/img/mobile-menu.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 40px;
	float: right;
	height: 75px;
	width: 75px;
}

.mobile-icon-close {
	background-image: url(/wp-content/themes/timberland/img/mobile-menu-close.png) !important;
}

#mobile-nav-expand {
	background: #fff;
	height: auto;
	left: 0;
	max-height: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 100px;
}

.mobile-open {
	max-height: 100vh !important;
}

#mobile-nav-expand {
	background: #305b81;
}

#mobile-nav-expand nav ul {
	margin-top: 25px;
}

#mobile-nav-expand nav ul li:first-child,
#mobile-nav-expand nav ul li:nth-child(2) {
	background: #fff;
	float: none;
	margin: 10px auto 0 auto;
	width: 93%;
}

#mobile-nav-expand nav ul li:nth-child(4),
#mobile-nav-expand nav ul li:nth-child(6),
#mobile-nav-expand nav ul li:nth-child(8),
#mobile-nav-expand nav ul li:nth-child(10) {
	margin: 10px 3.5% 0 1.5%;
}

#mobile-nav-expand nav ul li:last-child {
	margin-bottom: 25px;
}

#mobile-nav-expand nav ul li {
	background-image: none;
	background-color: #1e4465;
	float: left;
	margin: 10px 1.5% 0 3.5%;
	padding: 15px 0;
	width: 45%;
}

#mobile-nav-expand nav ul li:first-child a,
#mobile-nav-expand nav ul li:nth-child(2) a {
	color: #305b81;
}

#mobile-nav-expand nav ul li a {
	font-family: 'Anton', sans-serif;
	color: #fff;
	font-size: 30px;
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/*--------------------------------------------------------------------------PAGES--*/
/*---------------------------------------UNIVERSAL--*/
main.full-width {
	overflow: hidden;
}

#default-page-temp {
	padding: 25px 0;
}

main ul {
	list-style: none;
	margin: 0 0 15px 0;
}

main ol {
	margin: 0 0 15px 15px;
}

main .primary-button,
main .secondary-button {
	margin: 12px 0;
}

.widget {
	border: none;
}

#page-header {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 475px;
	position: relative;
}

#page-header h1 {
	background: rgba(208, 21, 36, .8);
	bottom: 0;
	color: #fff;
	padding: 15px;
	position: absolute;
	text-align: center;
	width: 100%;
}

#page-intro {
	padding: 50px 0;
}

#page-intro h2,
#page-intro p {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}

.black-overlay {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.75) 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.75) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.75) 100%);
	bottom: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d000000', endColorstr='#4d000000', GradientType=0);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.black-overlay:hover {
	background: -moz-linear-gradient(top, rgba(191, 11, 26, 0.8) 0%, rgba(143, 8, 20, 0.8) 25%, rgba(0, 0, 0, 0.3) 100%);
	background: -webkit-linear-gradient(top, rgba(191, 11, 26, 0.8) 0%, rgba(143, 8, 20, 0.8) 25%, rgba(0, 0, 0, 0.3) 100%);
	background: linear-gradient(to bottom, rgba(191, 11, 26, 0.8) 0%, rgba(143, 8, 20, 0.8) 25%, rgba(0, 0, 0, 0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99bf0b1a', endColorstr='#4d000000', GradientType=0);
}

#proposal-cta {
	background: repeating-linear-gradient(-45deg,
			#d01524,
			#d01524 10px,
			#c60f1e 10px,
			#c60f1e 60px);
}

#proposal-cta .one-third,
#proposal-cta .two-third {
	min-height: 198px;
	padding: 80px 0;
}

#proposal-cta .one-third {
	background-image: url(/wp-content/themes/timberland/img/proposal-cta-bg.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 10px 0 0;
}

#proposal-cta h2 {
	color: #fff;
	float: left;
	font-size: 35px;
	margin: 0;
}

#proposal-cta #cta-container {
	width: 555px;
	margin: 0 auto;
}

#proposal-cta h3 {
	color: #fff;
	font-size: 35px;
	margin: 0;
	text-align: center;
}

#proposal-cta .secondary-button {
	background: #fff;
	border: none;
	color: #d01524;
	margin: -2px 0 0 50px;
	padding: 10px 90px 10px 45px;
}

#proposal-cta .secondary-button .secondary-arrow {
	background-color: #292929;
}

.gfield_description.validation_message {
	color: #d01524;
	margin-top: -15px;
	margin-bottom: 15px;
}

.wp1s-slider-wrapper li {
	padding: 0;
	background-image: none;
}

/*----------------------------------------HOMEPAGE--*/
.videowrap {
	height: 100vh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.videowrap .gradient,
.videowrap .overlay {
	background: rgba(0, 0, 0, 0);
	height: 100%;
	width: 100%;
}

.videowrap video {
	position: relative;
	height: auto;
	left: 0;
	margin-bottom: 0;
	max-width: none;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	vertical-align: baseline;
	width: auto;
	z-index: -1;
}

#intro {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: -webkit-calc(100vh - 89px);
	height: calc(100vh - 89px);
}

#home-cta-container {
	bottom: 5vh;
	left: 50%;
	margin-left: -600px;
	position: absolute;
	width: 1200px;
	z-index: 10;
}

#home-cta-container a:hover {
	text-decoration: none;
}

.home-cta {
	background-size: cover;
	padding: 0;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

.home-cta:hover .black-overlay {
	background: -moz-linear-gradient(top, rgba(191, 11, 26, 0.8) 0%, rgba(143, 8, 20, 0.8) 25%, rgba(0, 0, 0, 0.3) 100%);
	background: -webkit-linear-gradient(top, rgba(191, 11, 26, 0.8) 0%, rgba(143, 8, 20, 0.8) 25%, rgba(0, 0, 0, 0.3) 100%);
	background: linear-gradient(to bottom, rgba(191, 11, 26, 0.8) 0%, rgba(143, 8, 20, 0.8) 25%, rgba(0, 0, 0, 0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99bf0b1a', endColorstr='#4d000000', GradientType=0);
}

.home-cta .contents {
	position: relative;
	z-index: 2;
}

.home-cta h2,
.home-cta p {
	padding: 0 20px 0 25px;
	color: #fff;
}

.home-cta h2 {
	padding-top: 100px;
	font-size: 40px;
	margin: 0;
}

.home-cta p {
	margin: 10px 0 50px 0;
}

.home-cta .primary-button {
	display: block;
	margin: 0;
}

.slick-dots {
	display: none !important;
}

#loge-slider {
	background: #292929;
	padding: 40px 10px;
}

#loge-slider h1 {
	color: #fff;
	margin: 0 0 25px 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 300;
	text-transform: capitalize;
}

.logo_showcase .slick-slide,
.logo_showcase .slick-slide:hover,
.logo_showcase .slick-slide:active,
.logo_showcase .slick-slide:visited {
	background-image: none;
	border: none !important;
}

.logo_showcase .slick-slide img {
	border: none;
	background: #363636;
}

.logo_showcase {
	padding-bottom: 0px !important;
}

.logo_showcase button.slick-arrow {
	z-index: 1;
}

#loge-slider .logo_showcase button.slick-prev,
#loge-slider .logo_showcase button.slick-prev:hover,
#loge-slider .logo_showcase button.slick-prev:focus {
	background-image: url(/wp-content/themes/timberland/img/arrow-left.png) !important;
}

#loge-slider .logo_showcase button.slick-next,
#loge-slider .logo_showcase button.slick-next:hover,
#loge-slider .logo_showcase button.slick-next:focus {
	background-image: url(/wp-content/themes/timberland/img/arrow-right.png) !important;
}

#closing {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 10px;
}

#closing.summer {
	background-image: url(/wp-content/themes/timberland/img/summer-bottom.png);
}

#closing.winter {
	background-image: url(/wp-content/themes/timberland/img/winter-bottom.png);
}

canvas {
	display: block;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

#closing .max-width {
	display: flex;
}

#landing-page {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 25px 0 0 0;
	position: relative;
}

#landing-page:hover .black-overlay {
	background: -moz-linear-gradient(top, rgba(191, 11, 26, 0.8) 0%, rgba(143, 8, 20, 0.8) 25%, rgba(0, 0, 0, 0.3) 100%);
	background: -webkit-linear-gradient(top, rgba(191, 11, 26, 0.8) 0%, rgba(143, 8, 20, 0.8) 25%, rgba(0, 0, 0, 0.3) 100%);
	background: linear-gradient(to bottom, rgba(191, 11, 26, 0.8) 0%, rgba(143, 8, 20, 0.8) 25%, rgba(0, 0, 0, 0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99bf0b1a', endColorstr='#4d000000', GradientType=0);
}

#landing-page .contents,
#landing-page #content-share {
	position: relative;
	z-index: 2;
}

#landing-page h2,
#landing-page p {
	color: #fff;
	padding: 0 25px;
}

#landing-page h2 {
	margin-bottom: 25px;
	font-size: 40px;
}

#landing-page p {
	max-width: 600px;
}

#landing-page a {
	text-decoration: none;
}

#landing-page #content-share {
	bottom: 0;
	margin-top: 50px;
	position: absolute;
}

#landing-page #content-share #link {
	background: #bf0b1a;
	float: left;
	height: 50px;
	margin: 0 3px 0 0;
	padding: 0 15px;
	width: calc(100% - 159px);
	width: calc(100%);
}

#landing-page #content-share #link:hover {
	padding: 0 15px 0 25px;
}

#landing-page #content-share #link a {
	color: #fff;
	line-height: 50px;
	text-transform: uppercase;
}

#landing-page #content-share #link a:hover {
	text-decoration: none;
}

#landing-page #content-share #link img {
	height: 16px;
	margin: 0 10px;
}

#landing-page #content-share .social-share {
	background: rgba(255, 255, 255, .75);
	float: left;
	height: 50px;
	margin: 0 3px 0 0;
	padding: 15px;
	width: 50px;
}

#landing-page #content-share .social-share#linkedin {
	margin: 0 0 0 0;
}

#landing-page #content-share .social-share img {
	height: 100%;
	width: 100%;
}

#testimonals {
	background: rgba(0, 0, 0, .5);
	height: 325px;
	position: relative;
}

#testimonals .contents,
.testimonial,
.testimonial .grid-items {
	height: 100%;
}

.testimonial {
	padding: 25px 0 0 0;
}

#testimonals #quotes {
	left: 20px;
	position: absolute;
	top: -30px;
	width: 100px;
}

#testimonial-106 {
	padding: 35px 0 0 0 !important;
}

#testimonals .testimonial,
#testimonals .testimonial .item,
#testimonals .testimonial .excerpt {
	background: transparent;
}

#testimonals .testimonial .excerpt,
#testimonals .testimonial .title {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

#testimonals .testimonial .title {
	font-weight: 600;
	text-transform: uppercase;
}

#testimonals .owl-controls .owl-pagination,
#testimonals .grid-nav-bottom,
#testimonals .five_star,
#testimonals .thumb,
#testimonals .down_arrow {
	display: none !important;
}

.owl-theme .owl-controls {
	bottom: 0;
	margin-top: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

#testimonals .owl-controls .owl-buttons {
	float: right;
	height: 50px;
	margin-right: 0;
	margin-top: 0;
	position: relative;
	width: 100px;
	z-index: 1;
}

#testimonals .owl-controls .owl-buttons .owl-prev,
#testimonals .owl-controls .owl-buttons .owl-next {
	border-radius: 0;
	background-color: transparent;
	background-position: center center;
	background-size: cover;
	height: 50px;
	margin: 0;
	opacity: 1;
	width: 50px;
}

#testimonals .owl-controls .owl-buttons .owl-prev {
	background-image: url(/wp-content/themes/timberland/img/testimonal-arrow-left.png);
}

#testimonals .owl-controls .owl-buttons .owl-next {
	background-image: url(/wp-content/themes/timberland/img/testimonal-arrow-right.png);
}

/*----------------------------------------ABOUT US--*/
#about-content {
	background: #f5f5f5;
	display: flex;
	padding: 50px 0;
}

#about-content .one-half {
	padding: 0 50px;
}

#about-content .one-half h3,
#about-content .one-half p {
	max-width: 600px;
}

#about-content .one-half h3 {
	margin-bottom: 25px;
}

#about-testimonals .testimonial .item .layer-media,
#about-testimonals .five_star,
#about-testimonals .grid-nav-bottom {
	display: none !important;
}

#testimonial-112 {
	background: transparent !important;
}

#testimony-container {
	background: #f5f5f5;
	height: 450px;
	margin: 100px auto 50px auto;
	position: relative;
}

#testimony-container #quotes {
	left: 50%;
	margin-left: -50px;
	position: absolute;
	top: -35px;
	width: 100px;
}

#testimony-container h3 {
	font-size: 30px;
	padding-top: 50px;
	text-align: center;
}

#testimony-container .testimonial .layer-content {
	margin: 0 auto;
	max-width: 900px;
}

#testimony-container .testimonial {
	padding: 0;
}

#testimony-container .item {
	background: transparent;
	left: 0;
	position: absolute;
	top: 120px;
	width: 100%;
}

#testimony-container .item .thumb {
	position: relative;
	z-index: 5;
}

#testimony-container .item:nth-child(1) .thumb {
	margin-left: 0px;
}

#testimony-container .item:nth-child(2) .thumb {
	margin-left: calc(25% - 25px);
	margin-left: -webkit-calc(25% - 25px);
}

#testimony-container .item:nth-child(3) .thumb {
	margin-left: calc(50% - 50px);
	margin-left: -webkit-calc(50% - 50px);
}

#testimony-container .item:nth-child(4) .thumb {
	margin-left: calc(75% - 75px);
	margin-left: -webkit-calc(75% - 75px);
}

#testimony-container .item:nth-child(5) .thumb {
	margin-left: calc(100% - 100px);
	margin-left: -webkit-calc(100% - 100px);
}

#testimony-container .item:nth-child(1) .up_arrow {
	margin-left: 40px;
}

#testimony-container .item:nth-child(2) .up_arrow {
	margin-left: calc(25% + 15px);
	margin-left: -webkit-calc(25% + 15px);
}

#testimony-container .item:nth-child(3) .up_arrow {
	margin-left: calc(50% - 10px);
	margin-left: -webkit-calc(50% - 10px);
}

#testimony-container .item:nth-child(4) .up_arrow {
	margin-left: calc(75% - 35px);
	margin-left: -webkit-calc(75% - 35px);
}

#testimony-container .item:nth-child(5) .up_arrow {
	margin-left: calc(100% - 60px);
	margin-left: -webkit-calc(100% - 60px);
}

#testimony-container .item .up_arrow {
	border-bottom-color: #7d7d7d;
	opacity: 0;
}

#testimony-container .item .excerpt {
	background: #7d7d7d;
	color: #fff;
	opacity: 0;
	padding: 10px 25px 0 25px;
}

#testimony-container .item .title {
	background: #7d7d7d;
	color: #fff;
	margin-top: -1px;
	opacity: 0;
	width: 100%;
}

#testimony-container .item:nth-child(1) .up_arrow,
#testimony-container .item:nth-child(1) .excerpt,
#testimony-container .item:nth-child(1) .title {
	opacity: 1;
	z-index: 3;
}

#testimony-container .item.active .up_arrow,
#testimony-container .item.active .excerpt,
#testimony-container .item.active .title {
	opacity: 1 !important;
	z-index: 3 !important;
}

#apply-cta {
	background-image: url(/wp-content/themes/timberland/img/apply-bg.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 100px;
	margin: 75px 0;
}

#apply-cta .contents {
	width: -webkit-calc(100% - 499px);
	width: calc(100% - 499px);
	background: #292929;
	color: #fff;
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: bold;
	line-height: 100px;
	padding: 0 25px;
}

#apply-cta .contents .primary-button {
	margin-left: 15px;
	vertical-align: middle;
	width: 150px;
}

/*---------------------------------------EQUIPMENT--*/
#eqipment-container {
	padding: 25px 0;
}

/*--------------------------------------------TEAM--*/
#team-container {
	padding: 50px 0;
}

#team-gallery {
	margin: 50px auto 0 auto;
}

.tlp-team .overlay {
	background-color: rgba(255, 255, 255, 0) !important;
}

.tlp-team .tlp-equal-height {
	margin-bottom: 15px;
}

.tlp-team .single-team-area h3 {
	font-size: 18px !important;
	margin-bottom: 0 !important;
}

.tlp-team .tlp-position {
	font-size: 12px;
}

/*---------------------------------SERVICES PARENT--*/
#service-parent-page .widget {
	margin-bottom: 25px;
	padding: 10px 0;
	text-align: center;
}

#service-parent-page .widget h3 {
	line-height: 1;
	margin-bottom: 10px;
}

/*----------------------------------------SERVICES--*/
#service-container {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0;
}

#service-container.winter {
	background-image: url(/wp-content/themes/timberland/img/service-winter-bg.png);
}

#service-container.summer {
	background-image: url(/wp-content/themes/timberland/img/service-summer-bg.png);
}

#service-container .one-half {
	padding: 25px;
}

#affiliations-slider {
	background: #fff;
	padding: 0 10px 50px 10px;
}

#affiliations-slider h3 {
	color: #fff;
	margin: 0 0 100px 0;
	padding-top: 20px;
	position: relative;
	text-align: center;
	z-index: 2;
}

#affiliations-slider .arrow-down {
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-top: 100px solid #000;
	height: 0;
	left: 50%;
	margin-left: -150px;
	position: absolute;
	top: 0;
	width: 0;
}

#affiliations-slider .logo_showcase .slick-slide img {
	background: #fff;
}

.wp1s-thumbnail-wrapper.wp1s-thumbnail-type-3 {
	margin-bottom: 75px;
}

/*-----------------------------------------CONTACT--*/
#contact-container {
	margin: 50px auto 75px auto;
}

#contact-container .one-half {
	padding: 0 25px;
}

.gform_body {
	background: #f5f5f5;
	padding: 25px 25px 0 25px;
}

.gform_footer {
	background: #f5f5f5;
	padding: 0 25px 25px 25px;
}

.gform_body label {
	display: none;
}

.gform_body .ginput_container_radio {
	min-height: 50px;
}

.gform_body .ginput_container_radio label {
	display: block;
	float: left;
	line-height: 13px;
	margin-bottom: 8px !important;
	width: -webkit-calc(100% - 32px);
	width: calc(100% - 32px);
}

.gform_body .ginput_container_radio input {
	float: left;
	margin-bottom: 8px;
	width: 25px !important;
}

.gform_body ul,
.gform_body ul li {
	margin: 0;
}

.gform_body ul li {
	padding: 0;
	list-style: none;
}

.gform_body input,
.gform_body textarea,
.gform_body select {
	background: #fff;
	border-radius: 0px;
	border: none;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-bottom: 15px;
	padding: 8px;
}

.gform_body textarea {
	height: 100px;
}

.gform_body input::-webkit-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.gform_body input::-moz-placeholder {
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.gform_body input:-ms-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.gform_body input:-moz-placeholder {
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.gform_body textarea::-webkit-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.gform_body textarea::-moz-placeholder {
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.gform_body textarea:-ms-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.gform_body textarea:-moz-placeholder {
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.gform_footer input[type="submit"] {
	background-color: #d01524;
	background-image: url(/wp-content/themes/timberland/img/icon-arrow-right.svg);
	background-position: right 15px center;
	background-repeat: no-repeat;
	background-size: 20px;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	min-height: 50px;
	padding: 10px 60px 10px 15px;
	position: relative;
	text-align: left;
	text-transform: uppercase;
	width: 100%;
}

.gform_footer input[type="submit"]:hover {
	background-color: #d01524;
	background-position: right 5px center;
	color: #fff;
	padding-left: 20px;
	text-decoration: none;
}

#contact-contents h3 {
	margin-top: 15px;
}

#contact-contents .phone,
#contact-contents .fax {
	background-color: #d01524;
	background-image: url(/wp-content/themes/timberland/img/icon-phone.svg);
	background-position: left 15px center;
	background-repeat: no-repeat;
	background-size: 20px;
	color: #fff;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 15px;
	min-height: 50px;
	padding: 10px 15px 10px 60px;
	position: relative;
	text-align: left;
	text-transform: uppercase;
	width: 250px;
}

#contact-contents .fax {
	background-image: url(/wp-content/themes/timberland/img/icon-fax.svg);
	pointer-events: none;
	cursor: default;
}

#contact-contents .phone:hover,
#contact-contents .fax:hover {
	background-position: left 25px center;
	padding: 10px 15px 10px 70px;
}

.proposal-cta {
	background-color: #7d7d7d;
	height: 250px;
	margin-top: 25px;
	position: relative;
	max-width: 350px;
}

.proposal-cta h2 {
	color: #fff;
	padding: 25px;
}

.proposal-cta #link {
	background: #bf0b1a;
	bottom: 0;
	margin: 0 3px 0 0;
	padding: 0 15px;
	position: absolute;
	width: 100%;
}

.proposal-cta #link:hover {
	padding: 0 15px 0 25px;
}

.proposal-cta #link a {
	color: #fff;
	line-height: 50px;
	text-transform: uppercase;
}

.proposal-cta #link a:hover {
	text-decoration: none;
}

.proposal-cta #link img {
	height: 16px;
	margin: 0 10px;
}

.proposal-cta #construction-car {
	position: absolute;
	left: 50%;
	top: 72px;
}

#newsletter {
	padding: 25px;
	background: repeating-linear-gradient(-45deg, #d01524, #d01524 10px, #c60f1e 10px, #c60f1e 50px);
}

#newsletter h3 {
	text-align: center;
	color: #fff;
}

#newsletter .gform_body {
	background: transparent;
	margin-top: 25px;
	padding: 0;
	width: -webkit-calc(100% - 150px);
	width: calc(100% - 150px);
}

#newsletter .gform_body ul li {
	float: left;
	margin-right: 1%;
	width: 27.33%;
}

#newsletter .gform_body ul li:last-child {
	width: 42.33%;
}

#newsletter .gform_body ul li input {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
}

#newsletter .gform_body ul li input::-webkit-input-placeholder {
	color: #fff;
}

#newsletter .gform_body ul li input:placeholder-shown {
	color: #fff;
}

#newsletter .gform_footer {
	background: transparent;
	float: left;
	padding: 0;
	width: 150px;
}

#newsletter .gform_footer input[type="submit"] {
	background: #fff;
	color: #000;
	padding: 10px;
	text-align: center;
}

#newsletter .gform_footer input[type="submit"]:hover {
	background-color: #fff;
	color: #000;
	padding-left: 10px;
	text-decoration: none;
}

/*----------------------------------------CAREERS--*/
#careers-container {
	margin: 50px auto;
}

#careers-container .one-third {
	padding: 0 25px;
}

#career-feed .gform_wrapper li {
	background-image: none;
}

#career-feed .gform_wrapper input,
#career-feed .gform_wrapper select {
	width: 100%;
}

#career-feed .gform_wrapper #field_4_8 label,
#career-feed .gform_wrapper #field_4_9 label {
	display: block;
	margin-bottom: 4px;
}

#career-feed .gform_wrapper span.address_line_2 {
	display: none;
}

#testimonial-134 {
	background: transparent !important;
}

#field_4_10 label {
	display: block;
}

/*----------------------------------------PROPOSAL--*/
#proposal-container {
	margin: 0 auto 50px auto;
}

#proposal-container .one-half {
	padding: 0 25px;
}

/*----------------------------------SEARCH RESULTS--*/
.search-feed ul {
	list-style: none;
	margin-top: 25px;
}

.search-feed ul li {
	background-image: none;
	background: #fafafa;
	text-align: center;
}

.search-feed ul li h2 {
	line-height: 0;
	margin: 0;
	padding: 5px 10px;
}

.search-feed ul li h2 a:hover {
	color: #d01524;
	text-decoration: none;
}

.post-feed-excerpt {
	text-align: left;
	min-height: 215px;
}

.search-feed .pagination {
	float: right;
	margin: 25px 0 0 0;
}

.search-feed .pagination a:hover {
	text-decoration: none;
}

.search-feed-form {
	margin: 50px auto 110px auto;
}

/*---------------------------------------------404--*/
.error-search-form {
	margin: 25px auto;
}

.error-sitemap-menu {
	margin: 0 auto 50px auto;
}

.error-sitemap-menu ul {
	-webkit-column-count: 3;
	/* Chrome, Safari, Opera */
	-moz-column-count: 3;
	/* Firefox */
	column-count: 3;
	list-style: none;
}

.error-sitemap-menu ul li {
	background-image: none;
	text-align: center;
}

/*-------------------------------------------------------------------------FOOTER--*/
footer#footer {
	background: #292929;
	padding: 25px;
}

footer#footer #copyright {
	color: #fff;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 35px;
}

footer#footer a {
	color: #fff;
}

footer#footer img {
	float: right;
	height: 35px;
}

/*------------------------------------------------------------------------LAPTOPS--*/
@media only screen and (max-width: 1200px) {

	/*----------------------------------------------------------BASICS--*/
	.max-width {
		padding: 0 10px;
	}

	/*------------------------------------------------------NAVIGATION--*/
	#main-logo {
		width: 150px;
		margin-top: 5px;
	}

	header#main-nav nav {
		width: 537px;
	}

	header#main-nav #mega-menu-wrap-main-menu a {
		font-size: 12px;
		padding: 5px 20px 18px 20px !important;
	}

	/*-----------------------------------------------------------PAGES--*/
	/*--UNIVERSAL--*/
	#proposal-cta h3 {
		font-size: 25px;
		padding-top: 5px;
	}

	/*--HOME--*/
	#home-cta-container {
		width: 100%;
		bottom: 5vh;
		left: auto;
		margin-left: auto;
		position: absolute;
		z-index: 10;
	}

	/*----------------------------------------------------------FOOTER--*/
}

/*--------------------------------------------------------------LANDSCAPE TABLETS--*/
@media only screen and (max-width: 1024px) {

	/*----------------------------------------------------------BASICS--*/
	/*------------------------------------------------------NAVIGATION--*/
	/*-----------------------------------------------------------PAGES--*/
	/*--UNIVERSAL--*/
	#apply-cta {
		margin-bottom: 50px;
	}

	#apply-cta .contents {
		font-size: 16px;
	}

	#proposal-cta .one-third,
	#proposal-cta .two-third {
		margin: 0;
		padding: 15px;
		width: 50%;
	}

	#proposal-cta h3 {
		padding-top: 70px;
	}

	#proposal-cta #cta-container {
		padding-top: 35px;
		text-align: center;
		width: auto;
	}

	#proposal-cta h2,
	#proposal-cta .secondary-button {
		float: none;
	}

	#proposal-cta .secondary-button {
		margin: 15px 0 0 0;
	}

	/*--HOMEPAGE--*/
	#intro.summer {
		background-image: url(/wp-content/themes/timberland/img/summer-top.png);
	}

	#intro.summer .videowrap {
		display: none;
	}

	.home-cta {
		padding-top: 25px;
	}

	.home-cta h2 {
		font-size: 30px;
	}

	.home-cta p {
		margin-bottom: 25px;
		font-size: 12px;
	}

	/*--ABOUT--*/
	.page-template-page-about .wp1s-slider-wrapper {
		padding-bottom: 0;
	}

	#about-content {
		display: block;
	}

	#about-content .one-half {
		width: 100%;
		float: none;
	}

	#about-content .one-half:first-child {
		text-align: center;
	}

	#about-content .one-half:first-child img {
		left: auto;
		margin: 0 auto 25px auto;
		position: inherit;
	}

	#about-content .one-half h3,
	#about-content .one-half p {
		max-width: 100%;
	}

	/*--EQUIPMENT--*/
	#service-gallery {
		width: 100%;
	}

	#service-gallery img {
		margin: 0 5px 10px 5px;
		width: -webkit-calc(20% - 10px);
		width: calc(20% - 10px);
	}

	#equipment-contents {
		width: 100%;
		margin: 25px 0 0 0;
	}

	/*--CAREERS--*/
	#career-info,
	#career-perks {
		width: 50%;
		margin: 0;
	}

	#career-feed {
		width: 100%;
		margin-top: 25px;
	}

	/*----------------------------------------------------------FOOTER--*/
}

/*---------------------------------------------------------------PORTRAIT TABLETS--*/
@media only screen and (max-width: 800px) {

	/*----------------------------------------------------------BASICS--*/
	.one-fourth,
	.two-fifth,
	.three-fifth {
		width: 50%;
	}

	.three-fourth {
		width: 100%;
	}

	/*------------------------------------------------------NAVIGATION--*/
	#top-nav {
		position: fixed;
	}

	#top-nav-widgets .menu {
		margin: 4px 0 0 0;
	}

	#top-nav-widgets .widget_search {
		height: 25px;
	}

	#top-nav-widgets .widget_search button.search-submit {
		height: 25px;
		right: 25px;
	}

	#top-nav-widgets .widget_search input {
		margin-left: 24px;
	}

	#top-nav-widgets .widget_search .search-submit:before {
		right: 0;
	}

	#main-nav,
	#sticky-nav {
		display: none !important;
	}

	#mobile-nav {
		display: block;
	}

	/*-----------------------------------------------------------PAGES--*/
	/*--UNIVERSAL--*/
	#apply-cta .contents {
		width: 100%;
		text-align: center;
	}

	#apply-cta .contents .primary-button .primary-arrow img {
		margin-left: 0;
	}

	#proposal-cta .one-third,
	#proposal-cta .two-third {
		width: 100%;
	}

	/*--HOME--*/
	#intro {
		height: 100vh;
	}

	#home-cta-container {
		padding: 0 25px;
		bottom: 25px;
	}

	.home-cta.one-third {
		margin: 0 5px 10px 5px;
		width: calc(50% - 10px);
		width: -webkit-calc(50% - 10px);
	}

	.home-cta.one-third#request-proposal {
		padding-top: 50px;
		width: calc(100% - 10px);
		width: -webkit-calc(100% - 10px);
	}

	.home-cta p {
		font-size: 16px;
	}

	#closing .max-width {
		display: inherit;
	}

	#landing-page {
		width: 100%;
		margin: 0 0 75px 0;
	}

	#landing-page .contents {
		margin-bottom: 75px;
	}

	#testimonals {
		height: auto;
		margin: 0;
		width: 100%;
	}

	/*--ABOUT--*/
	#about-content .one-half:first-child {
		text-align: center;
		width: 100%;
	}

	#about-content .one-half {
		float: none;
		padding: 25px 25px;
		width: 100%;
	}

	#about-content .one-half h3,
	#about-content .one-half p {
		max-width: 100%;
	}

	/*--PROPOSAL--*/
	#proposal-container .one-half {
		width: 100%;
	}

	#proposal-container #proposal-form {
		margin-bottom: 25px;
	}

	/*--CONTACT--*/
	#construction-car {
		display: none;
	}

	.proposal-cta {
		background-image: url(/wp-content/themes/timberland/img/large-apply-bg.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.proposal-cta h2 {
		color: #d01524;
	}

	/*--CAREERS--*/
	#careers-container .one-third {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	#careers-container #career-feed {
		width: 100%;
		margin: 0 0 25px 0;
	}

	/*----------------------------------------------------------FOOTER--*/
}

/*---------------------------------------------------------------LANDSCAPE PHONES--*/
@media only screen and (max-width: 750px) {

	/*----------------------------------------------------------BASICS--*/
	/*------------------------------------------------------NAVIGATION--*/
	#top-nav {
		display: none;
	}

	#mobile-nav {
		margin-top: 0;
	}

	#mobile-nav-expand {
		top: 75px;
	}

	/*-----------------------------------------------------------PAGES--*/
	/*--UNIVERSAL--*/
	#apply-cta .contents {
		line-height: 50px;
	}

	#apply-cta .contents .primary-button {
		margin-bottom: 10px;
	}

	#page-intro {
		padding: 50px 10px;
	}

	#testimony-container {
		height: auto;
	}

	#testimony-container .testimonial {
		margin-top: 25px;
	}

	#testimony-container .item {
		width: 100% !important;
		margin: 0 !important;
		position: inherit;
		padding-top: 15px;
	}

	#testimony-container .item:nth-child(3) {
		padding-bottom: 25px;
	}

	#testimony-container .item:nth-child(4),
	#testimony-container .item:nth-child(5) {
		display: none;
	}

	#testimony-container .item .thumb {
		display: block !important;
		margin: 0 auto !important;
		position: inherit !important;
	}

	#testimony-container .item .up_arrow {
		left: -10px !important;
		margin-left: 50% !important;
		position: relative !important;
	}

	#testimony-container .item .up_arrow,
	#testimony-container .item .excerpt,
	#testimony-container .item .title {
		opacity: 1 !important;
	}

	/*--HOME--*/
	#intro {
		height: auto;
		margin-top: 75px;
	}

	.videowrap {
		height: 100%;
	}

	#home-cta-container {
		bottom: auto;
		padding: 25px 10px 10px 10px;
		position: inherit;
	}

	.home-cta.one-third {
		width: calc(100% - 10px);
		width: -webkit-calc(100% - 10px);
	}

	#landing-page {
		height: 300px;
	}

	#landing-page p {
		padding: 0 25px 50px 25px;
	}

	/*--SERVICE PAGES--*/
	#service-parent-page .widget {
		margin: 0 0 25px 0;
	}

	/*--EQUIPMENT--*/
	#service-gallery img {
		width: calc(50% - 10px);
		width: -webkit-calc(50% - 10px);
	}

	/*--CONTACT--*/
	#contact-contents {
		margin-top: 25px;
	}

	/*--CAREERS--*/
	#careers-container .one-third {
		width: 100%;
		margin-top: 25px;
	}

	/*----------------------------------------------------------FOOTER--*/
	footer#footer #copyright {
		font-size: 10px;
	}
}

/*----------------------------------------------------------------PORTRAIT PHONES--*/
@media only screen and (max-width: 500px) {

	/*----------------------------------------------------------BASICS--*/
	.one-half,
	.one-third,
	.two-third,
	.one-fourth,
	.three-fourth,
	.two-fifth,
	.three-fifth {
		width: 100%;
		float: none;
	}

	/*------------------------------------------------------NAVIGATION--*/
	/*-----------------------------------------------------------PAGES--*/
	/*--UNIVERSAL--*/
	/*----------------------------------------------------------FOOTER--*/
}

@media only screen and (max-width: 400px) {
	#mobile-nav img {
		width: 150px;
		margin-top: 20px;
	}

	#mobile-nav-expand nav ul li a {
		font-size: 25px;
	}
}

@media only screen and (max-width: 350px) {
	#mobile-nav-expand nav ul li a {
		font-size: 20px;
	}

	#proposal-cta #cta-container {
		padding-top: 15px;
	}

	footer#footer {
		padding: 5px 15px;
	}
}